Servlet/src/Schemas/GetInfoResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:int" name="age"/>
        <xs:element type="xs:string" name="email"/>
        <xs:element type="xs:string" name="firstName"/>
        <xs:element type="xs:string" name="lastName"/>
        <xs:element type="xs:boolean" name="newAcct"/>
        <xs:element type="xs:string" name="password"/>
        <xs:element type="xs:short" name="phoneNbr"/>
        <xs:element type="xs:string" name="userName"/>
      </xs:sequence>
      <xs:attribute type="xs:int" name="userID"/>
    </xs:complexType>
  </xs:element>
</xs:schema>