AndroidServer/WebContent/wsdl/CreateUser.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://options.mckeown.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://options.mckeown.com" xmlns:intf="http://options.mckeown.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://options.mckeown.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createUser">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="age" type="xsd:int"/>
      <element name="email" type="xsd:string"/>
      <element name="phoneNbr" type="xsd:string"/>
      <element name="firstName" type="xsd:string"/>
      <element name="lastName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createUserResponse">
    <complexType>
     <sequence>
      <element name="createUserReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createUserRequest">

      <wsdl:part element="impl:createUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createUserResponse">

      <wsdl:part element="impl:createUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CreateUser">

      <wsdl:operation name="createUser">

         <wsdl:input message="impl:createUserRequest" name="createUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:createUserResponse" name="createUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CreateUserSoapBinding" type="impl:CreateUser">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CreateUserService">

      <wsdl:port binding="impl:CreateUserSoapBinding" name="CreateUser">

         <wsdlsoap:address location="http://localhost:8080/AndroidServer/services/CreateUser"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
