AndroidServer/WebContent/wsdl/DBConnection.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://utils.mckeown.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://utils.mckeown.com" xmlns:intf="http://utils.mckeown.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://utils.mckeown.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="close">
    <complexType/>
   </element>
   <element name="closeResponse">
    <complexType/>
   </element>
   <element name="addUser">
    <complexType>
     <sequence>
      <element name="userName" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addUserResponse">
    <complexType>
     <sequence>
      <element name="addUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addUserRequest">

      <wsdl:part element="impl:addUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="closeResponse">

      <wsdl:part element="impl:closeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addUserResponse">

      <wsdl:part element="impl:addUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="closeRequest">

      <wsdl:part element="impl:close" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DBConnection">

      <wsdl:operation name="close">

         <wsdl:input message="impl:closeRequest" name="closeRequest">

       </wsdl:input>

         <wsdl:output message="impl:closeResponse" name="closeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUser">

         <wsdl:input message="impl:addUserRequest" name="addUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:addUserResponse" name="addUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DBConnectionSoapBinding" type="impl:DBConnection">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="close">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="closeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="closeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DBConnectionService">

      <wsdl:port binding="impl:DBConnectionSoapBinding" name="DBConnection">

         <wsdlsoap:address location="http://localhost:8080/AndroidServer/services/DBConnection"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
