AndroidServer/WebContent/wsdl/GetUserData.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://options.mckeown.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://options.mckeown.com" xmlns:intf="http://options.mckeown.com" xmlns:tns1="http://jaxb.mckeown.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://options.mckeown.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://jaxb.mckeown.com"/>
   <element name="getData">
    <complexType>
     <sequence>
      <element name="userID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDataResponse">
    <complexType>
     <sequence>
      <element name="getDataReturn" type="tns1:EditAcct"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://jaxb.mckeown.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="EditAcct">
    <sequence>
     <element name="age" type="xsd:int"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="newAcct" type="xsd:boolean"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="phoneNbr" nillable="true" type="xsd:string"/>
     <element name="userID" nillable="true" type="xsd:int"/>
     <element name="userName" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getDataRequest">

      <wsdl:part element="impl:getData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDataResponse">

      <wsdl:part element="impl:getDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GetUserData">

      <wsdl:operation name="getData">

         <wsdl:input message="impl:getDataRequest" name="getDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDataResponse" name="getDataResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GetUserDataSoapBinding" type="impl:GetUserData">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GetUserDataService">

      <wsdl:port binding="impl:GetUserDataSoapBinding" name="GetUserData">

         <wsdlsoap:address location="http://localhost:8080/AndroidServer/services/GetUserData"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
