AndroidServer/WebContent/wsdl/UpdateUser.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://options.mckeown.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://options.mckeown.com" xmlns:intf="http://options.mckeown.com" xmlns:tns1="http://jaxb.mckeown.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://options.mckeown.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://jaxb.mckeown.com"/>
   <element name="update">
    <complexType>
     <sequence>
      <element name="acct" type="tns1:EditAcct"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateResponse">
    <complexType>
     <sequence>
      <element name="updateReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://jaxb.mckeown.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="EditAcct">
    <sequence>
     <element name="age" type="xsd:int"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="phoneNbr" nillable="true" type="xsd:string"/>
     <element name="userID" nillable="true" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateResponse">

      <wsdl:part element="impl:updateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateRequest">

      <wsdl:part element="impl:update" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="UpdateUser">

      <wsdl:operation name="update">

         <wsdl:input message="impl:updateRequest" name="updateRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateResponse" name="updateResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UpdateUserSoapBinding" type="impl:UpdateUser">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UpdateUserService">

      <wsdl:port binding="impl:UpdateUserSoapBinding" name="UpdateUser">

         <wsdlsoap:address location="http://localhost:8080/AndroidServer/services/UpdateUser"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
